body {
  margin: 0 auto;
  width: 500px;
  background-color: #ddd;
  font-family: tahoma;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea,
button {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ddd;
}
button {
  background: #55acce;
  color: white;
}
